# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# VSCode settings
.vscode/

# PyInstaller
dist/
build/

# Reports
reports/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
